# Automatically set front-end reviewers when front-end files are changed
/frontend/ @wzrabbit @hafnium1923

# Automatically set back-end reviewers when back-end files are changed
/backend/ @pilyang
